body{
    display: flex;
    flex-direction: column;
}

.tablas{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(5,auto);
    width: 100px;
}

img{
    height: 100px;
}